@import url('https://fonts.googleapis.com/css?family=Lusitana|Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

body img {
    border-radius: 4px;
}

hr {
    border: 1px solid #eee;
}

h1, h2, h3, h4 {
    font-family: 'Lusitana', serif;
}

.header {
    margin-bottom: 17px;
}

.grid {

}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    width: 32%;
}

.jumbotron {
    padding: 17px;
    margin: 0 17px;
    background-color: #eee;
    border-radius: 4px;
}

.panel {
    border: 1px solid #eee;
    padding: 7px;
    margin: 11px 17px;
}

@media (max-width: 600px) {
    .row {
        display: block;
    }
    .col {
        padding-bottom: 17px;
        border-bottom: 1px solid #666;
        width: 90%;
    }
}
